<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET IN TOUCH</title>
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="./css/contact_2.css">
</head>
  <body>
    
    <div class="overlay">
        <div class="container">
            <h2 style="font-family: 'Great Vibes';font-size: 32px;">Glam Together, Grow Together</h2>
            <p>Help us make our website and services better. Your feedbacks are very important to us!</p>
            <form action="/getintouch/post" method="POST">
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Review:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button>Post Review</button>
            </form>
        </div>
    </div>
     
    
  </body>
</html>